<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ide.photoeditor.youshoot">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- For Record Video -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name1"
        android:grantUriPermissions="true"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouShootPhotoEditor"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".videoeditor.activity.ImageToVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".videoeditor.activity.SlideShowImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ShowVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MyCreationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.VideoToMP3ConverterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.VideoToImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.VideoToGIFActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.VideoRotateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.VideoReverseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.VideoMirrorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.SlowMotionVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.FastMotionVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.VideoCompressor"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.VideoCropActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.VideoCutter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.VideoListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.VideoEditorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.SongEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoeditor.activity.ProgressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
 <meta-data
             android:name="com.facebook.sdk.ApplicationId"
             android:value="@string/facebook_app_id" />
         <meta-data
             android:name="com.facebook.sdk.ClientToken"
             android:value="@string/facebook_client_token" />
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <service
            android:name=".services.ImageCreatorService"
            android:exported="false" />
        <service
            android:name=".services.CreateVideoService"
            android:exported="false" />
        <service
            android:name=".AdsUtils.FirebaseADHandlers.FirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>